<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="Console"
          name="ConsoleTarget"
          layout="${longdate:universalTime=true} [${threadid}] ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}${newline}"
          detectConsoleAvailable="true" />
    <!-- write logs to file  -->
    <target xsi:type="File" name="LogFileTarget" fileName="example_log.txt"
            layout="${longdate:universalTime=true} [${threadid}] ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}${newline}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ConsoleTarget" />
    <logger name="*" minlevel="Trace" writeTo="LogFileTarget" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Warn" final="true" />
  </rules>
</nlog>